@page "/"

<h1><b>Nuestra Selecci&oacute;n de Pizzas</b></h1>
@foreach (var pizza in Estados.Menu.ListaDePizzas)
{
	<div class="row">
		<div class="col">
			<h2>@pizza.Nombre</h2>
		</div>
		<div class="col text-right">
			@($"{pizza.Precio:0.00}") $
		</div>
		<div class="col"></div>
		<div class="col">
			<img src="@ImagenDePicante(pizza.NivelesDePicante)"
				 alt="@pizza.NivelesDePicante" 
				 class="img-thumbnail img-fluid"/>
		</div>
		<div class="col">
			<button class="btn btn-success pl-4 pr-4"
			@onclick="@(() => AgregarAlCarrito(pizza))">
				Agregar
			</button>
		</div>
	</div>
}

@code {

	private Estados Estados { get; } = new Estados();

    protected override void OnInitialized()
	{
		Estados.Menu.Add(
		new Pizzas(1, "Pepperoni", 8.99M, NivelesDePicante.Picante));
		Estados.Menu.Add(
		new Pizzas(2, "Margarita", 7.99M, NivelesDePicante.Ninguno));
		Estados.Menu.Add(
		new Pizzas(3, "Diabolo", 9.99M, NivelesDePicante.Caliente));
	}

	private string ImagenDePicante(NivelesDePicante nivelesDePicante)
	=> $"{nivelesDePicante.ToString().ToLower()}.png";

	private void AgregarAlCarrito(Pizzas pizzas)
	=> Estados.Carrito.Agregar(pizzas.Id);

}
